<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="swiper image-slider">
            <div class="image-slider__wrapper swiper-wrapper">
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <source
                                srcset="./images/gallery-icecream-desktop.jpg 1x, ./images/gallery-icecream-desktop-2x.jpg 2x"
                                media="(min-width: 1200px)" />
                            <source
                                srcset="./images/gallery-icecream-tab.jpg 1x, ./images/gallery-icecream-tab-2x.jpg 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="./images/gallery-icecream-mobile.jpg 1x, ./images/gallery-icecream-mobile-2x.jpg 2x"
                                media="(max-width: 767px)" />
                            <img src="./images/gallery-icecream-mobile.jpg" alt="Ice Crem 1" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery-icecream_1.jpg" alt="Ice Crem 2" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery-icecream_2.jpg" alt="Ice Crem 3" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_3.jpg" alt="Ice Crem 4" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_4.jpg" alt="Ice Crem 5" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_5.jpg" alt="Ice Crem 6" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_6.jpg" alt="Ice Crem 7" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_7.jpg" alt="Ice Crem 8" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_8.jpg" alt="Ice Crem 9" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_9.jpg" alt="Ice Crem 10" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_10.jpg" alt="Ice Crem 11" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_11.jpg" alt="Ice Crem 12" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_12.jpg" alt="Ice Crem 13" class="gallery__img">
                        </picture>
                    </div>
                </div>
                <div class="image-slider__slide swiper-slide">
                    <div class="image-slider__image">
                        <picture>
                            <img src="./images/gallery_icecream_13.jpg" alt="Ice Crem 14" class="gallery__img">
                        </picture>
                    </div>
                </div>
            </div>
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
            <!-- <div class="swiper-pagination"></div> -->
        </div>
    </div>
</section>
<section class="reviews section">
    <div class="container">
        <h2 class="visually-hidden">Customer Reviews</h2>
        <div class="swiper reviews-slider">
            <div class="reviews-slider__wrapper swiper-wrapper">
                <div class="reviews-slider__slide swiper-slide">
                    <div class="reviews-slider__block">
                        <img src="./images/foto_Emily.jpg" alt="Emily" class="slaider__foto"></img>
                        <p class="reviews-slaider__text">I love visiting your cafe. You prepare the most delicious ice
                            cream in Los
                            Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                        <p class="reviews-slaider__name">Emily, Los Angeles</p>
                    </div>
                </div>
                <div class="reviews-slider__slide swiper-slide">
                    <div class="reviews-slider__block">
                        <img src="./images/foto_Sam.jpg" alt="Sam" class="slaider__foto"></img>
                        <p class="reviews-slaider__text">I love eating popsicles on a hot day. Yours is always
                            delicious. I recommend your cafe to everyone I know.</p>
                        <p class="reviews-slaider__name">Sam, Los Angeles</p>
                    </div>
                </div>
                <div class="reviews-slider__slide swiper-slide">
                    <div class="reviews-slider__block">
                        <img src="./images/foto_Diana.jpg" alt=Diana" class="slaider__foto"></img>
                        <p class="reviews-slaider__text">Ice cream is my passion! I love your chocolate hazelnut ice
                            cream! And I really like the excellent service - always served politely and quickly!</p>
                        <p class="reviews-slaider__name">Diana, Chicago</p>
                    </div>
                </div>
                <div class="reviews-slider__slide swiper-slide">
                    <div class="reviews-slider__block">
                        <img src="./images/foto_Bryan.jpg" alt=Bryan" class="slaider__foto"></img>
                        <p class="reviews-slaider__text">Every day we come to you with friends after classes in college.
                            We love your ice cream and casual atmosphere!</p>
                        <p class="reviews-slaider__name">Bryan, New-York</p>
                    </div>
                </div>
            </div>
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>