<header class="page-header container">

    <div class="page-header-container ">

        <!-- LOGO -->

        <a href="#">
            <svg class="logo logo--first">
                <use href="./images/symbol-defs.svg#logo-icecream"></use>
            </svg>
        </a>

        <!-- MOBILE MENU -->

        <div class="page-header-mobile">

            <svg class="page-header__menu-open" data-menu-open>
                <use href="./images/symbol-defs.svg#burger-menu"></use>
            </svg>

            <!-- MOBILE MENU LOGO -->

            <div class="page-header-mobile__menu" data-menu>

                <!-- <div class="overlay"> -->
                <div class="page-header-mobile__menu-open-icons">
                    <a href="#">
                        <svg class="logo ">
                            <use href="./images/symbol-defs.svg##logo-icecream"></use>
                        </svg>
                    </a>

                    <!-- MOBILE MENU CLOSE -->

                    <svg class="page-header__menu-close" data-menu-close>
                        <use href="./images/symbol-defs.svg#close"></use>
                    </svg>
                </div>

                <!-- MOBILE MENU-BOX  -->
                <div>
                    <div class="page-header-mobile__menu-box">
                        <ul class="page-header-mobile__list">
                            <li class="page-header-mobile__item menu-item">
                                <a>Home</a>
                            </li>
                            <li class="page-header-mobile__item menu-item">
                                <a>How it's made?</a>
                            </li>
                            <li class="page-header-mobile__item menu-item">
                                <a>Our products</a>
                            </li>
                            <li class="page-header-mobile__item menu-item">
                                <a>Contacts</a>
                            </li>
                        </ul>
                        <button type="button" class="page-header__button buy-btn js-open-modal" data-modal="1">Buy
                            now

                        </button>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>



        <!-- TABLET MENU -->

        <div class="page-header-tablet">

            <!-- TABLET BUTTONS NORMAL  -->

            <div class="page-header-tablet__bar">
                <ul class="page-header-tablet__list">
                    <li data-menu-open>
                        <svg class="page-header__menu-open page-header__menu-open--margin" data-menu-open-tab>
                            <use href="./images/symbol-defs.svg#burger-menu"></use>
                        </svg>
                    </li>
                    <li>
                        <button type="button" class="page-header__button buy-btn js-open-modal" data-modal="1">
                            Buy now</button>
                    </li>
                </ul>
            </div>

            <!-- TABLET MENU IS OPEN -->

            <div class="page-header-tablet__menu" data-menu-tab>
                <div class="page-header-tablet__menu-open-icons">
                    <a href="#">
                        <svg class="logo logo--second">
                            <use href="./images/symbol-defs.svg#logo-icecream"></use>
                        </svg>
                    </a>

                    <!-- TABLET MENU CLOSE BUTTON -->

                    <svg class="page-header__menu-close" data-menu-close-tab>
                        <use href="./images/symbol-defs.svg#close"></use>
                    </svg>
                </div>

                <!-- TABLET MENU LIST -->

                <div class="page-header-tablet__menu-box">
                    <ul class="page-header-tablet__menu-list">
                        <li class="page-header-tablet__menu-item menu-item">
                            <a>Home</a>
                        </li>
                        <li class="page-header-tablet__menu-item menu-item">
                            <a>How it's made?</a>
                        </li>
                        <li class="page-header-tablet__menu-item menu-item">
                            <a>Our products</a>
                        </li>
                        <li class="page-header-tablet__menu-item menu-item">
                            <a>Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- DESKTOP MENU -->

        <div class="page-header-desktop">
            <ul class="page-header-desktop__list">
                <li class="page-header-desktop__menu-item">
                    <a>Home</a>
                </li>
                <li class="page-header-desktop__menu-item">
                    <a>How it's made?</a>
                </li>
                <li class="page-header-desktop__menu-item">
                    <a>Our products</a>
                </li>
                <li class="page-header-desktop__menu-item">
                    <a>Contacts</a>
                </li>
            </ul>
        </div>
        <div class="page-header-desktop">
            <button type="button" class="page-header__button buy-btn js-open-modal" data-modal="1">
                Buy now</button>
        </div>
    </div>
</header>