<!----HERO---->
<section class="hero">
  <div class="hero__container">
    <div class="hero__about">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title-font">passion</span>
      </h1>
      <div class="hero__buttons">
        <form action="#products">
          <button class="hero__btn-about" type="button">Products</button>
        </form>
        <form action="#howitsmade">
          <button class="hero__btn-description" type="button">
            How it's made?
          </button>
        </form>
      </div>
    </div>
    <picture>
      <source
        srcset="./images/d-ice-cream_x1.png 1x, ./images/d-ice-cream_x2.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/t-ice-cream_x1.png 1x, ./images/t-ice-cream_x2.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/m-ice-cream_x1.png 1x, ./images/m-ice-cream_x2.png 2x"
        media="(max-width: 767px)"
      />
      <img
        class="hero__main-img"
        src="./images/m-ice-cream_x1.png"
        alt="photo-ice"
      />
    </picture>
    <div class="hero__visual">
      <picture>
        <source
          srcset="./images/d-plate-x1.png 1x, ./images/d-plate-x2.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/t-plate-x1.png 1x, ./images/t-plate-x2.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/t-plate-x1.png 1x, ./images/t-plate-x2.png 2x"
          media="(max-width: 767px)"
        />
        <img
          class="hero__plate-img"
          src="./images/t-plate-x1.png"
          alt="ice-on-plate"
        />
      </picture>
      <div class="hero__plate-watch">
        <span class="hero__plate">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </span>
      </div>
    </div>
    <ul class="hero__cafe-list">
      <li class="hero__list-item list">
        <strong class="hero__list-amount">16</strong>
        <span class="hero__list-value">cafes</span>
      </li>
      <li class="hero__list-item list">
        <strong class="hero__list-amount">24</strong>
        <span class="hero__list-value">food trucks</span>
      </li>
    </ul>
  </div>
</section>
