.gallery {
    max-width: 100%;
    background-image: linear-gradient(var(--mainBG) 18.46%, rgba(255, 255, 255, .016) 18.46%);
}

@media screen and (min-width: 768px) {
    .gallery {
        background-image: linear-gradient(var(--mainBG) 50.15%, rgba(255, 255, 255, .016) 50.15%);
    }

}

@media screen and (min-width: 1200px) {
    .gallery {
        background-image: linear-gradient(var(--mainBG) 22.27%, rgba(255, 255, 255, .016) 22.27%);
    }
}
.section {
    padding: 80px 0 48px;
}
@media screen and (min-width: 768px) {
    .section {
        padding: 60px 0 80px;
    }
}
@media screen and (min-width: 1200px) {
    .section {
        padding: 128px 0 100px;
    }
}
.reviews {
    max-width: 100%;
}
.image-slider__image,
.reviews-slider__block {
    text-align: center;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .gallery__img {
        max-width: 704px;
        border-radius: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .gallery__img {
        max-width: 1013px;
        border-radius: 24px;
    }
}
@media screen and (min-width:1200px) {
    .reviews-slider__block {
        max-width: 968px;
        margin-left: auto;
        margin-right: auto;
    }
}
.reviews-slaider__text {
    background-color: var(--mainBG);
    border-radius: 10px;
    padding: 34px 39px;
    font-weight: 400;
    font-size: 12px;
    line-height: 255%;
    text-align: center;
    color: var(--whiteText);
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .reviews-slaider__text {
        padding: 28px 80px;
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        letter-spacing: 0.04em;
        margin-bottom: 32px;

    }
}

@media screen and (min-width: 1200px) {
    .reviews-slaider__text {
        padding: 43px 109px;
        font-size: 16px;
    }
}

.slaider__foto {
    border-radius: 50%;
    margin: 0 auto 32px auto;
}

.reviews-slaider__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .reviews-slaider__name {
        font-size: 16px;
    }
}
// .reviews-slider {
//     padding: 80px 0 14px 0;
// }

@media screen and (min-width: 768px) {
    .reviews-slider {
        padding: 60px 0 32px 0;
    }
}

@media screen and (min-width: 1200px) {
    .reviews-slider {
        padding-top: 128px 0 32px 0;
    }
}
.reviews-slider .swiper-pagination {
    bottom: 0;
}
.reviews-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--mainBG);
}